<%- include("../partials/header") %>
    <br>
    <div class="container">
        <header class="jumbotron" style="background-color: gray;">
            <div style="color: aliceblue;" class="container">
                <h1>Welcome to CityTour!!</h1>
                <p>View our hand-picked temples from all over the indore</p>
                <p>
                    <a class="btn btn-primary btn-large" href="/places/new">Add New Places</a>
                </p>
            </div>
        </header>

        <h3 style="color: aliceblue;">Our Most Popular Temples!!</h3>
        <div class="container-fluid">
            <div class="row text-center">
                <% places.forEach(function(place){ %>
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                            <img class="card-img-top" src="<%= place.image %>" alt="<%= place.name %>" width="250"
                                height="250">
                            <div class="card-body">
                                <h4 class="card-title" id="cm">
                                    <%= place.name %>:
                                </h4>
                                <!-- <p class="card-text" id="cm">Its a way to relax from usual days</p> -->
                                <a href="/places/<%= place._id%>" class="btn btn-primary">visit</a>
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>
    </div>
    <br>
    <%- include("../partials/footer") %>